* { 
    padding: 0;
    margin: 0;

    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center
    /* margin: auto */
}

.wrap {
    margin: auto;
}

.card {
    display: flex; 
    margin-top: 20px;
    /* border: 1px solid #000; */
    width: 607px;
    /* height: 130px; */
    height: auto;
    padding: 13px;

    /* background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 ); */

    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 7.5px );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    -webkit-backdrop-filter: blur( 7.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.userpic {
    width: 150px;
}

.avatar {
    width: 98%;
}
.avatar-f {
    width: 70%;
    padding-left: 20px;
    margin-top: -8px;
}

.card-info {
    margin-top: 5px;
}

.status {
    width: 3%;
}

.yashil {
    color: #28A745;
    font-weight: 600;
    margin-bottom: 5px;
}

.center {
    margin-top: 26px;
    margin-bottom: 30px;
    text-align: center;
}

.logo {
    margin-top: 10px;
    width:4%;
}

a {
    color: #5e5e66;
    font-weight: bold;
}

.black {
    color: #000;
}